<div id="<%= dom_id lesson %>" data-id="<%= lesson.id %>" class="bg-white px-4 py-5 sm:px-6">
  <div class="flex justify-between items-center mb-4">
    <div class="flex-1">
      <span class="text-sm text-red-600 font-semibold">Leçon n°<%= lesson.position %>:</span>
      <h2 class="text-xl font-semibold text-gray-900"><%= lesson.title %></h2>
    </div>
    <div class="flex flex-shrink-0 self-center">
      <div class="relative inline-block text-left">
        <div>
          <div class="-m-2 flex items-center rounded-full p-2 text-gray-400 hover:text-gray-600 handle cursor-pointer">
            <span class="sr-only">Open options</span>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="grip-vertical" class="h-5 w-5" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9 20q-.825 0-1.412-.587T7 18t.588-1.412T9 16t1.413.588T11 18t-.587 1.413T9 20m6 0q-.825 0-1.412-.587T13 18t.588-1.412T15 16t1.413.588T17 18t-.587 1.413T15 20m-6-6q-.825 0-1.412-.587T7 12t.588-1.412T9 10t1.413.588T11 12t-.587 1.413T9 14m6 0q-.825 0-1.412-.587T13 12t.588-1.412T15 10t1.413.588T17 12t-.587 1.413T15 14M9 8q-.825 0-1.412-.587T7 6t.588-1.412T9 4t1.413.588T11 6t-.587 1.413T9 8m6 0q-.825 0-1.412-.587T13 6t.588-1.412T15 4t1.413.588T17 6t-.587 1.413T15 8"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if action_name != "show" %>
    <div class="flex space-x-2 mb-4">
      <%= link_to "Voir la leçon", lesson_path(lesson), class: "btn btn-secondary" %>
      <%= link_to "Modifier la leçon", edit_maintenance_lesson_path(lesson), class: "btn btn-secondary" %>
    </div>
    <hr class="mt-6">
  <% end %>
</div>
