<header class="bg-white sticky top-0 z-20 shadow-md">
  <nav data-controller="toggle" data-toggle-class-value="hidden">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" data-action="click->toggle#toggle" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-none focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed. -->
            <svg class="block h-6 w-6" data-toggle-target="content" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
            <!-- Icon when menu is open. -->
            <svg class="hidden h-6 w-6" data-toggle-target="content" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex shrink-0 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path stroke-dasharray="6" stroke-dashoffset="6" d="M12 21h5M12 21h-5">
                  <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="6;0"/>
                </path>
                <path stroke-dasharray="6" stroke-dashoffset="6" d="M12 21v-4">
                  <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="6;0"/>
                </path>
                <path fill="currentColor" fill-opacity="0" stroke-dasharray="64" stroke-dashoffset="64" d="M12 17h-9v-12h18v12Z">
                  <animate fill="freeze" attributeName="fill-opacity" begin="1s" dur="0.15s" values="0;0.3"/>
                  <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.3s" dur="0.6s" values="64;0"/>
                </path>
              </g>
            </svg>
            <a class="ml-2 text-xl font-bold" href="/">Devenir freelance</a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a href="/" class="text-gray-700 hover:text-gray-900 rounded-md px-3 py-2 text-sm font-medium">Le curriculum</a>
              <% if current_user %>
                <%= link_to "Mon profil", "#", class: "text-gray-700 hover:text-gray-900 rounded-md px-3 py-2 text-sm font-medium" %>
                <%= button_to destroy_user_session_path, method: :delete, class: "text-gray-700 hover:text-gray-900 rounded-md px-3 py-2 text-sm font-medium cursor-pointer" do %>
                  sign out
                <% end %>
              <% else %>
                <%= link_to "sign in", new_user_session_path, class: "text-gray-700 hover:text-gray-900 rounded-md px-3 py-2 text-sm font-medium" %>
                <%= link_to "sign up", new_user_registration_path, class: "text-gray-700 hover:text-gray-900 rounded-md px-3 py-2 text-sm font-medium" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden sm:hidden" id="mobile-menu" data-toggle-target="content">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <a href="/" class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white">Le curriculum</a>
        <% if current_user %>
          <%= link_to "mon profil", "#", class: "block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white" %>
          <%= button_to destroy_user_session_path, method: :delete, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white cursor-pointer" do %>
            sign out
          <% end %>
        <% else %>
          <%= link_to "sign in", new_user_session_path, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white" %>
          <%= link_to "sign up", new_user_registration_path, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
