<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">Email</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Admin</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Confirmé</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Payant</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @users.each do |user| %>
              <tr>
                <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0"><%= user.email %></td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  <%= turbo_frame_tag user do %>
                    <%= button_to maintenance_user_admin_path(user), method: :patch do %>
                      <span class="font-bold <%= user.admin? ? 'text-green-500' : 'text-red-500' %>"><%= user.admin? %></span>
                    <% end %>
                  <% end %>
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= l(user.confirmed_at, format: :short) if user.confirmed_at %></td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= user.subscription ? "oui" : "non" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
